@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: poppins;
}

h1 {
  font-size: 50px;
  line-height: 64px;
  color: black;
}

h2 {
  font-size: 40px;
  line-height: 54px;
  color: black;
}

h4 {
  font-size: 20px;
  color: black;
}

p {
  font-size: 16px;
  color: chocolate;
  margin: 15px 0 20px 0;
}

.section-p1 {
  padding: 40px 80px;
  margin: 0;
}

.section-m1 {
  margin: 40px 0;
}

button.normal {
  font-size: 18px;
  font-weight: 1000;
  padding: 15px 25px;
  color: white;
  background-color: green;
  border-radius: 4px;
  cursor: pointer;
  border: none;
  outline: none;
  transition: 0.2s;
}

button.white {
  font-size: 13px;
  font-weight: 500;
  padding: 11px 18px;
  color: black;
  background-color: transparent;
  cursor: pointer;
  border: 1px solid black;
  outline: none;
  transition: 0.2s;
}

body {
  width: 100%;
}

.logo {
  height: 3rem;
  margin-left: 60px;
}

/* .container {
    margin: 0 60px;
} */
#header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px 5px 20px;
  background: #e3e6f3;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
  z-index: 999;
  position: sticky;
  top: 0;
  left: 0;
}


#navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  /* margin-right: 60px; */
}

#navbar li {
  list-style: none;
  padding: 0 20px;
  position: relative;
}

#navbar li a {
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  color: #1a1a1a;
  transition: 0.3s ease;
}

#navbar li a:hover,
#navbar li a.active {
  color: #116e1d;
}

#navbar li a.active::after,
#navbar li a:hover::after {
  content: "";
  width: 30%;
  height: 2px;
  background: #116e1d;
  position: absolute;
  bottom: -4px;
  left: 20px;
}

#mobile {
  display: none;
  align-items: center;
}

#close {
  display: none;
}
#hero {
  background-image: url("img/bgimg7.jpg");
  background-position: right 15% top 45%;
  background-repeat: no-repeat;
  height: 80vh;
  background-size: 400px 370px;
  padding: 50px 155px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

#hero h4 {
  padding-bottom: 15px;
}

#hero h1 {
  color: green;
}

#hero button {
  background-color: green;
  color: #fff;
  border-radius: 30px;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  font-weight: 700;
  font-size: 15px;
}

#hero button:hover {
  transform: scale(1.1);
}

#feature {
  /* background: #96d893; */
  width: 100%;
}

#feature .fe-box {
  width: 200px;
  text-align: center;
  padding: 10px 15px;
  box-shadow: 10px 10px 54px rgba(0, 0, 0, 0.01);
  border: 1px solid #cce7d0;
  border-radius: 4px;
  margin: 15px 0;
}

#feature .fe-box:hover {
  box-shadow: 20px 20px 34px rgba(94, 32, 4, 0.05);
}

#feature .fe-img {
  width: 100%;
}

#feature {
  padding: 20px 150px;
  display: flex;
  align-items: center;
  justify-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
#feature .fe-box img {
  width: 50%;
}

#feature .fe-box h6 {
  /* display: inline-block;
    padding: 9px 8px 6px 8px; */
  /* line-height: 1; */
  /* border: 40px; */
  color: black;
  font-size: 0.85em;
}

#product1 {
  text-align: center;
}

#product1 .pro-container {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  flex-wrap: wrap;
}

#product1 .pro {
  width: 10%;
  min-width: 250px;
  padding: 5px 6px;
  border: 1px solid #e3e6f3;
  border-radius: 25px;
  cursor: pointer;
  box-shadow: 20px 20px 30px rgba(83, 15, 15, 0.02);
  transition: 0.2s ease;
  margin-top: 15px;
  position: relative;
}

#product1 .pro:hover {
  box-shadow: 20px 20px 30px rgba(83, 15, 15, 0.06);
}

#product1 .pro img {
  width: 100%;
  border-radius: 20px;
  background-color: rgb(243, 239, 236);
}

#product1 .pro .des {
  text-align: start;
  padding: 10px 0;
}

#product1 .pro .des span {
  color: grey;
  font-size: 12px;
}

#product1 .pro .des h5 {
  padding-top: 7px;
  color: #1a1a1a;
  font-size: 14px;
}

#product1 .pro .des i {
  font-size: 12px;
  color: rgb(243, 181, 25);
}

#product1 .pro .des h4 {
  padding-top: 5px;
  font-size: 15px;
  font-weight: 700;
  color: #116e1d;
}

#product1 .pro .cart {
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 50px;
  background-color: green;
  color: white;
  border: 1px solid grey;
  position: absolute;
  bottom: 20px;
  right: 15px;
}

#banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-image: url("img/new/n4.png");
  width: 100%;
  height: 50vh;
  background-size: cover;
  background-position: center;
}

#banner h4 {
  color: black;
  font-size: 16px;
  font-weight: 500;
}

#banner h2 {
  color: black;
  font-size: 40px;
  padding: 10px 0;
  padding-bottom: 30px;
}

#banner h2 span {
  color: red;
}

#banner button:hover {
  background: rgb(161, 238, 98);
  color: rgb(9, 80, 9);
}

#sm-banner {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

#sm-banner .banner-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background-image: url("img/new/n5.png");
  min-width: 580px;
  height: 40vh;
  background-size: cover;
  background-position: center;
  padding: 30px;
}

#sm-banner .banner-box2 {
  background-image: url("img/new/n7.png");
}

#sm-banner h4 {
  color: green;
  font-size: 16px;
  font-weight: 300;
}

#sm-banner h2 {
  color: black;
  font-size: 28px;
  font-weight: 800;
}

#sm-banner span {
  color: black;
  font-size: 14px;
  font-weight: 500;
  padding-bottom: 15px;
}
#sm-banner .banner-box:hover button {
  background: #116e1d;
  border: 1px solid green;
  color: white;
}

#banner3 {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0 80px;
}
#banner3 .banner-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background-image: url("img/new/8.png");
  min-width: 31.5%;
  height: 40vh;
  background-size: cover;
  background-position: center;
  padding: 20px;
  margin-bottom: 20px;
}

#banner3 .banner-box2 {
  background-image: url("img/new/11.png");
}

#banner3 .banner-box3 {
  background-image: url("img/new/n6.png");
}
#banner3 h2 {
  color: black;
  font-weight: 900;
  font-size: 22px;
}

#banner3 h3 {
  color: brown;
  font-weight: 500;
  font-size: 15px;
}

#newsletter {
  
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  height: 40vh;
  background-image: url("img/features/bn5.png");
  align-items: center;
  background-repeat: no-repeat;
  background-position: 20% 30%;
  background-size: cover;
}

#newsletter h4 {
  font-size: 40px;
  font-weight: 1000;
  color: white;
}

#newsletter p {
  font-size: 16px;
  font-weight: 400;
  color: white;
}

#newsletter p span {
  color: rgb(176, 231, 65);
}

#newsletter input {
  height: 3.125rem;
  padding: 0 1.25em;
  font-size: 14px;
  width: 100%;
  border: 1px solid transparent;
  border-radius: 4px;
  outline: none;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

#newsletter button {
  background-color: rgb(176, 231, 65);
  color: #0a3b10;
  white-space: nowrap;
  padding: 10px 25px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

#newsletter .form {
  display: flex;
  width: 40%;
}

footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

footer .col {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 20px;
}

footer .logo {
  margin-left: -13px;
  padding-left: 0;
  margin-top: -15px;
}
footer h4 {
  font-size: 16px;
  padding-bottom: 20px;
}

footer p {
  font-size: 13px;
  margin: 0 0 8px 0;
}

footer a {
  font-size: 14px;
  text-decoration: none;
  color: #222;
  margin-bottom: 10px;
  font-weight: 400;
}

footer .follow {
  margin-top: 20px;
}

footer .follow i {
  color: green;
  padding-right: 4px;
  cursor: pointer;
}

footer .install .row img {
  border: 1px solid green;
  border-radius: 6px;
}

footer .install img {
  margin: 10px 0 15px 0;
}

footer .follow i:hover,
footer a:hover {
  color: rgb(10, 46, 10);
}

footer .copywrite {
  width: 100%;
  text-align: center;
}






/*STORE PAGE*/

#page-header{
  background-image: url("img/features/bn4.png");
  height: 40vh;
  width: 100%;
  background-size: cover;
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  padding: 14px;
}

#page-header h2, #page-header p{
  color: white;
}


#pagination {
  text-align: center;
}

#pagination a{
  text-decoration: none;
  background-color: darkgreen;
  padding: 15px 20px;
  border-radius: 4px;
  color: white;
  font-weight: 600;
}

#pagination a i{
  font-size: 16px;
  font-weight: 600;
}

/*Singlr product details*/

#prodetails{
  display: flex;
  margin-top: 20px;

}

#prodetails .single-pro-image{
  width: 40%;
  margin-right: 50px;/*
  background-color: lightgrey;*//*
  height: 70vh;*/
}

#prodetails img{
  border: 1px solid darkgrey;
  border-radius: 10px;
  background-color: rgb(243, 239, 236);
}

/*.small-img-group{
  display: flex;
  justify-content: space-between;
}*/

#prodetails .single-pro-details{
  width: 50%;
  padding-top: 30px;
}

#prodetails .single-pro-details h4{
  padding: 20px 0 10px 0;
}

#prodetails .single-pro-details h2{
  font-size: 26px;
}
#prodetails .single-pro-details select{
  display: block;
  padding: 5px 10px;
  margin-bottom: 10px;
}

#prodetails .single-pro-details input{
  width: 50px;
  height: 47px;
  padding-left: 10px;
  font-size: 16px;
  margin-right: 10px;
}
 
#prodetails .single-pro-details button{
  padding: 10px;
  font-size: 15px;
}


#prodetails .single-pro-details span{
  line-height: 25px;
  font-size: 14px;
}


/*blog header*/

#page-header.blog-header{
  background-image: url("img/blog/b3.png");
  color: black;
  height: 60vh;
}

#page-header.blog-header h2, #page-header.blog-header p{
  color: black;}

#blog{
  padding: 150px 150px 0 150px;
}

#blog .blog-box {
  display: flex;
  align-items: center;
  width: 100%;
  position: relative;
  padding-bottom: 90px;
}


#blog .blog-img {
  width: 50%;
  margin-right: 40px;
}

#blog img{
  width: 100%;
  height: 300px;
  object-fit: cover;

}

#blog .blog-details{
  width: 50%;
  }

  #blog .blog-details a{
  text-decoration: none;
  font-size: 14px;
  color: black;
  font-weight: 700;
  position: relative;

}

#blog .blog-details a::after{
  content: "";
  width: 50px;
  height: 1px;
  background-color: black;
  position: absolute;
  top:10px;
  right: -60px;
}

#blog .blog-details a:hover{
  color: darkgreen;
  transition: 0.3s;
}

#blog .blog-details a:hover::after{
  background-color: darkgreen;
}


#blog .blog-box h1{
  position: absolute;
  top: -40px;
  left: 0;
  font-size: 70px;
  font-weight: 700;
  color: #c9cbce;
  z-index: -9;
}





















































@media (max-width: 799px) {
  #navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    position: fixed;
    top: 0;
    right: -360px;
    height: 100vh;
    width: 300px;
    background-color: #e3e6e3;
    box-shadow: 0 40px 60px rgba(0, 0, 0, 0.1);
    padding: 80px 0 0 10px;
    transition: 0.3s;
  }

  #navbar.active {
    right: 0px;
  }

  #navbar li {
    margin-bottom: 25px;
  }
  #mobile {
    display: flex;
    align-items: center;
  }

  #mobile i {
    color: #1a1a1a;
    font-size: 24px;
    padding-left: 20px;
  }

  #close {
    display: initial;
    position: absolute;
    top: 30px;
    left: 30px;
    color: #222;
    font-size: 24px;
  }

  #lg-bag {
    display: none;
  }

  #hero {
    height: 55vh;
    padding: 0 80px;
    background-position: top 40% right 5%;
  }

  h2 {
    font-size: 30px;
    line-height: 44px;
    color: black;
  }

  h1 {
    font-size: 40px;
    line-height: 54px;
    color: black;
  }

  #feature {
    justify-content: center;
  }

  #feature .fe-box {
    margin: 15px 15px;
  }

  #product1 .pro-container {
    justify-content: center;
  }

  #product1 .pro {
    margin: 15px;
  }

  #banner {
    height: 20vh;
  }

  #sm-banner .banner-box {
    min-width: 100%;
    height: 30vh;
  }

  #banner3 .banner-box {
    width: 28%;
    height: 25vh;
  }

  #newsletter {
    height: 25vh;
  }

  #newsletter .form {
    width: 70%;
  }
}



@media (max-width: 477px) {
  #header {
    padding: 0px 10px;
  }

  .logo {
    height: 3rem;
    margin-left: 20px;
  }

  #hero {
    background-image: url("img/bgimg7.jpg");
    background-position: left 1700% top 35%;
    height: 60vh;
    background-size: 400px 370px;
  }

  #feature {
    margin-top: -28%;
    padding: 30px;
  }

  #feature .fe-box {
    width: 25%;
    margin: 10px;
    height: 120px;
  }
  #feature .fe-box img {
    width: 85%;
}

#feature .fe-box h6 {
    /* line-height: 1; */
    /* border: 40px; */
    color: black;
    font-size: 0.7em;
}

  h2 {
    font-size: 20px;
    line-height: 34px;
    color: black;
  }

  h1 {
    font-size: 30px;
    line-height: 44px;
    color: black;
  }
  h4 {
    font-size: 15px;
    color: black;
  }
  p {
    font-size: 14px;
  }

  #product1 .pro{
    width: 100%;
  }

  #banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url("img/new/n4.png");
    background-position: 25%;
    width: 100%;
    height: 50vh;
  }

  #sm-banner .banner-box h4 {
    font-size: 12px;
  }

  #sm-banner .banner-box2 {
    margin-top: 20px;
}
 #sm-banner {
  padding-top: 20px;
  padding-bottom: 20px;
 }
#banner3 .banner-box{
  width: 100%;
}
#banner3 h3 {
    color: brown;
    font-weight: 500;
    font-size: 12px;
}

#newsletter{
  height: 30vh;
}

#newsletter h4 {
    font-size: 23px;
    font-weight: 900;
}

#newsletter p {
    font-size: 14px;
}
#newsletter .form {
    width: 100%;
}
#newsletter input {
    font-size: 11.5px;
}
button.normal {
    font-size: 15px;
}
p {
    font-size: 10px;
    text-align: center;
}
footer .copywrite{
  text-align: start;
}

/*Single product*/

#prodetails{
  display: flex;
  flex-direction: column;
}
#prodetails .single-pro-image{
  width: 100%;
  margin-right: 0px;
}
#prodetails .single-pro-details{
  width: 100%;
}



